asgiref==3.2.7
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
Django==3.0.6
django-cors-headers==3.4.0
django-templated-mail==1.1.1
djangorestframework==3.11.0
djoser==2.0.3
idna==2.10
numpy==1.19.0
pandas==1.0.5
Pillow==8.1.1
psycopg2-binary==2.8.4
pyarrow==0.17.1
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
whitenoise==5.1.0
